@font-face {
  font-family: "Georgia";
  src: url("/fonts/georgia-regular/Georgia.eot");
  src: url("/fonts/georgia-regular/Georgia.eot?#iefix") format("embedded-opentype"), url("/fonts/georgia-regular/Georgia.woff2") format("woff2"), url("/fonts/georgia-regular/Georgia.woff") format("woff"), url("/fonts/georgia-regular/Georgia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("/fonts/georgia-italic/Georgia-Italic.eot");
  src: url("/fonts/georgia-italic/Georgia-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/georgia-italic/Georgia-Italic.woff2") format("woff2"), url("/fonts/georgia-italic/Georgia-Italic.woff") format("woff"), url("/fonts/georgia-italic/Georgia-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Georgia";
  src: url("/fonts/georgia-bold/Georgia-Bold.eot");
  src: url("/fonts/georgia-bold/Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/georgia-bold/Georgia-Bold.woff2") format("woff2"), url("/fonts/georgia-bold/Georgia-Bold.woff") format("woff"), url("/fonts/georgia-bold/Georgia-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("/fonts/arial -regular/ArialMT.eot");
  src: url("/fonts/arial -regular/ArialMT.eot?#iefix") format("embedded-opentype"), url("/fonts/arial-regular/ArialMT.woff2") format("woff2"), url("/fonts/arial-regular/ArialMT.woff") format("woff"), url("/fonts/arial-regular/ArialMT.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("/fonts/arial-italic/Arial-ItalicMT.eot");
  src: url("/fonts/arial-italic/Arial-ItalicMT.eot?#iefix") format("embedded-opentype"), url("/fonts/arial-italic/Arial-ItalicMT.woff2") format("woff2"), url("/fonts/arial-italic/Arial-ItalicMT.woff") format("woff"), url("/fonts/arial-italic/Arial-ItalicMT.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
body {
  font-family: "Georgia", sans-serif;
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

img {
  display: block;
}

button {
  padding: 0;
}

p {
  margin: 0;
}

.address {
  font-style: normal;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}

.footer__title, .donation__title, .help__title, .our-friends__title, .about__title, .hero__title {
  font-size: 25px;
  line-height: 1.28;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.title--white {
  color: #ffffff;
}

.donation__btn, .pagination-btn, .our-friends__btn, .hero__btn {
  font-size: 17px;
  line-height: 1.294;
  letter-spacing: 0.06em;
  color: #292929;
  background-color: transparent;
  cursor: pointer;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  padding: 13px 43px;
  user-select: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.donation__btn:hover, .pagination-btn:hover, .our-friends__btn:hover, .hero__btn:hover, .donation__btn:focus, .pagination-btn:focus, .our-friends__btn:focus, .hero__btn:focus {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.donation__description--italic, .donation__description, .about__description, .hero__description {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #4c4c4c;
}

.navigation {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 30px;
  padding-bottom: 60px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.header__logo {
  display: flex;
  flex-direction: column;
  margin-right: 33px;
}

.header__logo-text {
  font-size: 32px;
  line-height: 1.093;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
  color: #f1cdb3;
}
.header__logo-text--subtitle {
  font-family: "Arial", sans-serif;
  font-size: 13px;
  line-height: 1.153;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.nav-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 0;
  padding: 10px;
}

.nav-btn__img--primary {
  fill: #f1cdb3;
}

.hero {
  background-color: #262425;
  background-image: url(/img/background-img/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  text-align: center;
  padding-top: 150px;
}

.hero__title {
  margin-bottom: 42px;
}

.hero__description {
  text-align: center;
  color: #cdcdcd;
  margin-bottom: 42px;
}

.hero__btn {
  background-color: #f1cdb3;
  margin-bottom: 105px;
}

.hero__img {
  margin-left: auto;
}

.about {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: var(--color-light-xl);
}

.about__title {
  margin-bottom: 25px;
}

.about__description {
  width: 270px;
  margin: 0 auto;
}
.about__description--first {
  margin-bottom: 22px;
}
.about__description--second {
  margin-bottom: 42px;
}

.about__img {
  margin: 0 auto;
}

.our-friends {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: #f6f6f6;
}

.our-friends__title {
  margin-bottom: 42px;
}

.our-friends__description {
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #545454;
}

.our-friends__img,
.our-friends__description {
  margin-bottom: 30px;
}

.our-friends__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  margin: 0 auto 20px;
  border-radius: 9px;
  overflow: hidden;
  background-color: #fafafa;
}

.our-friends__btn {
  margin-bottom: 30px;
}

.pagination-btn {
  padding: 0;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-pagination-list {
  display: flex;
  justify-content: space-between;
  width: 184px;
  margin: 0 auto 42px;
}

.our-friends__link {
  display: block;
  width: 262px;
  font-size: 17px;
  line-height: 1.294;
  letter-spacing: 0.06em;
  color: #292929;
  padding: 13px 43px;
  margin: 0 auto;
  background-color: #f1cdb3;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-friends__link:hover, .our-friends__link:focus {
  background-color: #fddcc4;
  border-color: #fddcc4;
}

.help {
  padding-top: 42px;
  padding-bottom: 42px;
}

.help__container {
  padding: 0 15px;
}

.help__title {
  margin-bottom: 42px;
}

/* .help__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
} */
.help__list {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
}

/* .help__list-item {
  display: flex;
  flex-basis: calc((100% - 30px) / 2);
  flex-direction: column;
  align-items: center;
} */
.help__list-item {
  display: grid;
  justify-items: center;
}

.help__list-item-description {
  font-size: 15px;
  line-height: 1.133;
  letter-spacing: 0.06em;
  color: #545454;
}

.help__list-img {
  margin-bottom: 20px;
  fill: #f1cdb3;
}

.donation {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: #f6f6f6;
}

.donation__title {
  margin-bottom: 20px;
}

.donation__description {
  font-family: "Georgia", sans-serif;
  text-align: center;
  margin-bottom: 20px;
}
.donation__description--italic {
  font-style: italic;
  font-size: 12px;
  line-height: 1.5;
  color: #b2b2b2;
  margin-bottom: 42px;
}

.donation__card-number {
  font-size: 15px;
  line-height: 1.133;
  letter-spacing: 0.06em;
  color: #545454;
  margin-left: 15px;
}

.donation__btn {
  display: flex;
  align-items: center;
  padding: 8px 13px;
  margin: 20px auto;
  border-radius: 9px;
  background-color: #f1cdb3;
  font-size: 15px;
  line-height: 1.133;
}

.donation__img {
  margin: 0 auto;
}

.footer {
  padding-top: 30px;
  background-color: #262425;
  background-image: url(/img/background-img/noise_transparent@2x.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%);
}

.footer__title {
  margin-bottom: 40px;
  width: 270px;
}

.footer__contacts-list {
  margin: o auto;
}

.footer__contacts-list-item {
  margin: 0 auto 31px;
}
.footer__contacts-list-item:nth-child(1) {
  width: 251px;
}
.footer__contacts-list-item:nth-child(2) {
  width: 240px;
}

.footer__list-link {
  display: inline-block;
  position: relative;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.06em;
  color: #f1cdb3;
  padding-left: 42px;
  padding-bottom: 9px;
}

.footer__contacts-list-link {
  padding-left: 60px;
}

.footer__list-item {
  display: flex;
  margin-bottom: 31px;
}

.footer__list-img {
  position: absolute;
  fill: #f1cdb3;
}

.footer__img {
  margin: 0 auto;
}

.our-pets-header {
  padding-bottom: 30px;
  background-color: #ffffff;
}

.our-pets-header__logo-text {
  color: #545454;
}
.our-pets-header__logo-text--subtitle {
  color: #292929;
}

.our-pets-our-friends {
  padding-top: 140px;
}

.our-pets-our-friends__card {
  margin-bottom: 42px;
}

.our-pets__pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-page {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #292929;
  background-color: #f1cdb3;
  border-radius: 100px;
  border: 2px solid #f1cdb3;
  cursor: default;
}/*# sourceMappingURL=main.css.map */