.donation {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: $color-light-l;
}

.donation__title {
  @extend %title;
  margin-bottom: 20px;
}

.donation__description {
  @extend %description;
  font-family: $main-font;
  text-align: center;
  margin-bottom: 20px;

  &--italic {
    @extend %description;
    font-style: italic;
    @include font(12px, 1.5, null);
    color: $color-dark-m;
    margin-bottom: 42px;
  }
}

.donation__card-number {
  @include font(15px, 1.133, 0.06em);
  color: $color-dark-l;
  margin-left: 15px;
}

.donation__btn {
  @extend %btn;
  display: flex;
  align-items: center;
  padding: 8px 13px;
  margin: 20px auto;
  border-radius: 9px;
  background-color: $color-primary;
  @include font(15px, 1.133, null);
}

.donation__img {
  margin: 0 auto;
}

@media screen and (width>=getBreakpoint('tablet')) {
  .donation {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .donation__title,
  .donation__description {
    text-align: start;
  }

  .donation__description,
  .donation__title,
  .donation__btn,
  .donation__description--italic {
    margin-left: 163px;
  }

  .donation__description--italic {
    max-width: 380px;
    margin-bottom: 60px;
  }

  .donation__title {
    max-width: 300px;
  }

  .donation__card-number {
    font-size: 20px;
  }
}

@media screen and (width>=getBreakpoint('desktop')) {
  .donation {
    padding-bottom: 100px;
  }

  .donation__wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .donation__description,
  .donation__title,
  .donation__btn,
  .donation__description--italic {
    margin-left: 0px;
  }

  .donation__description--italic {
    margin-bottom: 0;
  }

  .donation__img {
    margin-right: 30px;
  }
}