.footer {
  padding-top: 30px;
  background-color: #262425;
  background-image: url(../img/background-img/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%);
}

.footer__title {
  @extend %title;
  margin-bottom: 40px;
  width: 270px;
}

.footer__address-list-item {
  margin-bottom: 31px;
}

.footer__contacts-list-item {
  display: flex;
  margin: 0 auto;

  &:first-child {
    margin-bottom: 31px;
  }

  &:nth-child(1) {
    width: 251px;
  }

  &:nth-child(2) {
    width: 240px;
  }
}

.footer__list-link {
  position: relative;
  @include font(20px, 1.15, 0.06em);
  color: $color-primary;
  padding-left: 42px;
  padding-bottom: 9px;
}

.footer__contacts-list-link {
  padding-left: 60px;
}

.footer__list-item {
  display: flex;

  &:first-child {
    margin-bottom: 31px;
  }
}

.footer__list-img {
  position: absolute;
  fill: $color-primary;
}

.footer__img {
  margin: 0 auto;
}

@media screen and (width>=getBreakpoint('tablet')) {
  .footer__address-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 34px;
  }

  .footer__title,
  .footer__contacts-list-item {
    margin-left: 0;
  }

  .footer__title {
    text-align: start;
    width: 279px;
  }

  .footer__list-item:first-child {
    margin-bottom: 10px;
  }

  .footer__address-list-item {
    margin-bottom: 56px;
  }
}

@media screen and (width>=getBreakpoint('desktop')) {
  .footer {
    padding-top: 40px;
  }

  .footer__wrapper {
    display: flex;
  }

  .footer__title {
    margin-right: 0;
  }

  .footer__address-list-item {
    margin-right: 160px;

    &:first-child {
      width: 278px;
    }

    &:last-child {
      width: 302px;
    }
  }

  .footer__address-list {
    margin-left: 0;
  }
}