.navigation {
  display: flex;
  align-items: center;
}

.header {
  padding-top: 30px;
  padding-bottom: 60px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;
}

.header__logo {
  display: flex;
  flex-direction: column;
  margin-right: 33px;
}

.header__logo-text {
  @include font(32px, 1.093, 0.06em);
  margin-bottom: 10px;
  color: $color-primary;

  &--subtitle {
    font-family: 'Arial', sans-serif;
    @include font(13px, 1.153, 0.1em);
    color: $color-light-xl;
  }
}

.nav-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  line-height: 0;
  padding: 10px;
}

.nav-btn__img--primary {
  fill: $color-primary;
}

.navigation__list {
  display: none;
}

@media screen and (width >=getBreakpoint('tablet')) {
  .nav-btn {
    display: none;
  }

  .navigation__list {
    display: inline-block;
    margin-left: auto;
  }

  .navigation__list-item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 35px;
    }
  }

  .navigation__list-link {
    font-family: 'Arial';
    @include font(15px, 1.6, null);
    color: $color-dark-s;
    position: relative;

    // &::after {
    //   content: '';
    //   display: none;
    //   width: 100%;
    //   height: 3px;
    //   background-color: $color-primary;
    //   position: absolute;
    //   bottom: -6px;
    //   left: 0;
    // }

    &:focus,
    &:hover {
      color: $color-light-s;
    }
  }
}

@media screen and (width >=getBreakpoint('desktop')) {
  .header {
    padding-top: 60px;
  }
}