.hero {
  background-color: #262425;
  background-image: url(/img/background-img/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  text-align: center;
  padding-top: 150px;
}

.hero__title {
  @extend %title;
  margin-bottom: 42px;
}

.hero__description {
  @extend %description;
  text-align: center;
  color: $color-dark-s;
  margin-bottom: 42px;
}

.hero__btn {
  @extend %btn;
  background-color: $color-primary;
  margin-bottom: 105px;
}

.hero__img {
  margin-left: auto;
}