%title {
  @include font(25px, 1.28, 0.06em);
  color: $color-dark-l;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (width >=getBreakpoint('tablet')) {
    font-size: 35px;
  }
}

.title--white {
  color: $color-light-xl;
}