.our-pets__pagination {
  display: flex;
  justify-content: space-between;
}

.pagination-page {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-dark-3xl;
  background-color: $color-primary;
  border-radius: 100px;
  border: 2px solid $color-primary;
  cursor: default;
}

@media screen and (width>=getBreakpoint('tablet')) {
  .our-pets__pagination {
    width: 340px;
    margin: 0 auto;
  }
}