%btn {
  position: relative;
  @include font(17px, 1.294, 0.06em);
  color: $color-dark-3xl;
  background-color: transparent;
  cursor: pointer;
  border-radius: 100px;
  border: 2px solid $color-primary;
  padding: 13px 43px;
  user-select: none;

  transition: background-color 250ms $timing-function, border-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }
}