.hero {
  background-color: #262425;
  background-image: url(/src/assets/img/background-img/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  text-align: center;
  padding-top: 150px;
}

.hero__title {
  @extend %title;
  margin-bottom: 42px;

  animation: translateLeft 2000ms $timing-function;
}

.hero__description {
  @extend %description;
  text-align: center;
  color: $color-dark-s;
  margin-bottom: 42px;
}

.hero__btn {
  @extend %btn;
  background-color: $color-primary;
  margin-bottom: 105px;
}

.hero__img {
  margin-left: auto;
}

@media screen and (width>=getBreakpoint('tablet')) {
  .hero__title {
    font-size: 44px;
    line-height: 1.3;
    text-align: start;
    margin-left: 124px;
  }

  .hero__description {
    text-align: start;
    margin-left: 124px;
    max-width: 460px;
  }
}

@media screen and (width >=getBreakpoint('desktop')) {
  .hero {
    text-align: start;
    padding-top: 180px;
  }

  .hero__desktop-wrapper {
    display: flex;
  }

  .hero__description,
  .hero__title {
    margin-left: 0;
  }

  .hero__desktop-wrapper--left {
    margin-top: 163px;
    margin-right: 42px;
  }
}