.our-friends {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: $color-light-l;
}

.our-friends__list {
  display: grid;
  grid-template-columns: repeat(1, 270px);
  justify-content: center;
  margin-bottom: 20px;
}

.our-friends__title {
  @extend %title;
  margin-bottom: 42px;
}

.our-friends__description {
  @include font(20px, 1.15, 0.06em);
  color: $color-dark-l;
}

.our-friends__img,
.our-friends__description {
  margin-bottom: 30px;
}

.our-friends__card {
  display: grid;
  justify-items: center;
  border-radius: 9px;
  overflow: hidden;
  background-color: $color-light-s;

  @media screen and (0px < width <=getBreakpoint('tablet')) {
    &:nth-last-child(-n + 2) {
      display: none;
    }
  }

  @media screen and (getBreakpoint('tablet') <width<=getBreakpoint('desktop')) {
    &:nth-last-child(-n + 1) {
      display: none;
    }
  }
}

.our-friends__btn {
  @extend %btn;
  margin-bottom: 30px;
}

.pagination-list__btn {
  @extend %btn;
  padding: 0;
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-list {
  &--mobile {
    display: flex;
    justify-content: space-between;
    width: 184px;
    margin: 0 auto 42px;
  }
}

.our-friends__link {
  display: block;
  width: 262px;
  @include font(17px, 1.294, 0.06em);
  color: $color-dark-3xl;
  padding: 13px 43px;
  margin: 0 auto;
  background-color: $color-primary;
  border-radius: 100px;
  border: 2px solid $color-primary;

  transition: background-color 250ms $timing-function, border-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }
}

@media screen and (width>=getBreakpoint('tablet')) {
  .our-friends {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .our-friends__list {
    gap: 40px;
    grid-template-columns: repeat(2, 270px);
    margin-bottom: 60px;
  }

  .our-friends__title {
    margin-bottom: 60px;
  }

  .our-friends__list-card {
    position: relative;
  }

  .pagination-list {
    display: flex;
    position: absolute;
    top: 192px;
  }

  .pagination-list__item:last-child {
    margin-left: 604px;
  }
}

@media screen and (width >=getBreakpoint('desktop')) {
  .our-friends__list {
    gap: 90px;
    grid-template-columns: repeat(3, 270px);
  }

  .pagination-list__item:last-child {
    margin-left: 1096px;
  }
}