.our-friends {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: $color-light-l;
}

.our-friends__list {
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 20px;
  scroll-behavior: smooth;
}

.our-friends__list--dragging {
  cursor: grab;
  scroll-behavior: auto;

  &our-friends__img {
    pointer-events: none;
  }
}

.our-friends__list-card {
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
}

.our-friends__title {
  @extend %title;
  margin-bottom: 12px;
}

.our-friends__description {
  @include font(20px, 1.15);
  color: $color-dark-l;
}

.our-friends__img,
.our-friends__description {
  margin-bottom: 30px;
}

.our-friends__card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;

  min-width: 270px;
  border-radius: 9px;
  overflow: hidden;
  background-color: $color-light-s;


  @media screen and (width<getBreakpoint('tablet')) {
    margin-top: 30px;
  }
}

.our-friends__btn {
  @extend %btn;
  margin-bottom: 30px;
}

.pagination-list__btn {
  @extend %btn;
  padding: 0;
  width: 52px;
  height: 52px;
}

.pagination-list__btn--disablet {
  visibility: hidden;
}

.pagination-list__img {
  @extend %centering;
}


.pagination-list {
  &--mobile {
    display: flex;
    justify-content: space-between;
    width: 184px;
    margin: 0 auto 42px;
  }
}

.our-friends__link {
  display: block;
  width: 262px;
  @include font(17px, 1.294);
  color: $color-dark-3xl;
  padding: 13px 43px;
  margin: 0 auto;
  background-color: $color-primary;
  border-radius: 100px;
  border: 2px solid $color-primary;

  transition: background-color 250ms $timing-function, border-color 250ms $timing-function;

  &:hover,
  &:focus {
    background-color: $color-primary-light;
    border-color: $color-primary-light;
  }
}

@media screen and (width>=getBreakpoint('tablet')) {
  .our-friends {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  .our-friends__list {
    display: flex;
    gap: 40px;
    margin-bottom: 60px;
  }

  .our-friends__title {
    margin-bottom: 60px;
  }

  .our-friends__list-card {
    max-width: 580px;
    position: relative;
  }

  .pagination-list {
    display: flex;
    position: absolute;
    top: 192px;
    left: -64px;
  }

  .pagination-list__item:last-child {
    margin-left: 604px;
  }
}

@media screen and (width >=getBreakpoint('desktop')) {
  .our-friends__list-card {
    max-width: 990px;
    position: relative;
  }

  .our-friends__list {
    gap: 90px;
  }

  .pagination-list {
    left: -105px;
  }

  .pagination-list__item:last-child {
    margin-left: 1096px;
  }
}