.our-pets-header {
  padding-bottom: 30px;
  background-color: $color-light-xl;
}

.our-pets-header__logo-text {
  color: $color-dark-l;

  &--subtitle {
    color: $color-dark-3xl;
  }
}

.our-pets-navigation__list-link {
  color: $color-dark-l;

  &:hover {
    color: $color-dark-3xl;
  }
}

@media screen and (width>=getBreakpoint('tablet')) {
  .our-pets-header {
    padding-top: 30px;
  }
}