.our-pets-our-friends {
  padding-top: 140px;
}

.our-pets-our-friends__list {
  display: grid;
  grid-template-columns: repeat(1, 270px);

}

@media screen and (width>=getBreakpoint('tablet')) {
  .our-pets-our-friends__list {
    grid-template-columns: repeat(2, 270px);
    margin-bottom: 0px;
  }

  .our-pets-our-friends {
    padding-top: 200px;
    padding-bottom: 70px;
  }

  .our-pets-our-friends__title {
    margin-bottom: 30px;
  }
}

@media screen and (width>=getBreakpoint('desktop')) {
  .our-pets-our-friends {
    padding-bottom: 100px;
  }

  .our-pets-our-friends__list {
    grid-template-columns: repeat(3, 270px);
  }
}